*{
    margin: 0px;
    border:none;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
         /* font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; */
}

body,html{
    overflow-x: hidden;
}